<div class="container jumbotron">
  <h1 class="center">Local Passport</h1>
  <p class="textMargin">This is a simple local passport project that is connected to PostgreSQL Database and enables a user to login into a protected dashboard page. A user will also be able to register as a user.</p>
  <div class="buttonMargin">
    <p class="pull-right">
      <a href="/login" class="btn btn-primary btn-lg">Login</a>
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
    </p>
  </div>
</div>
