body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

.textMargin {
  margin-left: 30px;
  margin-right: 30px;
}

.buttonMargin {
  padding-right: 40px;
  padding-bottom: 30px;
}

.buttonLogin {
  padding-top: 20px;
  padding-right: 30px;
}

.inputdiv {
  margin: 10px;
}
